# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/
# /broadcast/*/31337/
# /broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
localhost.json

node_modules

id
# 0x8F9F422Fc6Adf6331f3C47BE5EBD7a53B2aeF64a
secret
# 0x013285d5bc42f30f20b2971ed647da05726a2d87e999ca61115ab228fdc5e97f